In [1]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

In [2]:
books_df = pd.read_csv('/home/016709732/dataset/goodreads_interactions.csv')

In [3]:
books_df.shape

(228648342, 5)

In [4]:
books_df.head(20)

    user_id  book_id  is_read  rating  is_reviewed
0         0      948        1       5            0
1         0      947        1       5            1
2         0      946        1       5            0
3         0      945        1       5            0
4         0      944        1       5            0
5         0      943        1       5            0
6         0      942        1       5            0
7         0      941        1       5            0
8         0      940        1       5            0
9         0      939        1       5            1
10        0      938        1       5            1
11        0      937        1       4            0
12        0      936        1       4            0
13        0      935        1       4            0
14        0      934        1       5            1
15        0      933        1       4            0
16        0      932        1       4            0
17        0      931        1       5            0
18        0      930        1       2            1
19        0      929        1       4            1

In [5]:
books_df.describe()

            user_id       book_id       is_read        rating   is_reviewed
count  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08
mean   2.500636e+05  2.015756e+05  4.904090e-01  1.801340e+00  7.093491e-02
std    1.712713e+05  3.448677e+05  4.999080e-01  2.072672e+00  2.567161e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.143010e+05  1.252700e+04  0.000000e+00  0.000000e+00  0.000000e+00
50%    2.338990e+05  5.034600e+04  0.000000e+00  0.000000e+00  0.000000e+00
75%    3.581100e+05  2.229240e+05  1.000000e+00  4.000000e+00  0.000000e+00
max    8.761440e+05  2.360649e+06  1.000000e+00  5.000000e+00  1.000000e+00

In [7]:
books_df = books_df.drop(books_df[books_df['is_read'] == 0].index)

In [8]:
books_df = books_df.drop(books_df[books_df['is_reviewed'] == 0].index)

In [9]:
books_df.shape

(15935237, 5)

In [12]:
books = books_df.groupby('rating', group_keys=False).apply(lambda x: x.sample(int((len(x)/len(books_df))*500000)))

In [14]:
books.shape

(499998, 5)

In [15]:
books.describe()

             user_id       book_id   is_read         rating  is_reviewed
count  499998.000000  4.999980e+05  499998.0  499998.000000     499998.0
mean   239176.643729  3.642981e+05       1.0       3.837079          1.0
std    162737.568244  5.389258e+05       0.0       1.164827          0.0
min         0.000000  0.000000e+00       1.0       0.000000          1.0
25%    107428.250000  1.700900e+04       1.0       3.000000          1.0
50%    224915.000000  9.997250e+04       1.0       4.000000          1.0
75%    350733.000000  4.868070e+05       1.0       5.000000          1.0
max    876136.000000  2.360638e+06       1.0       5.000000          1.0

In [16]:
import pandas as pd
from surprise import Dataset, Reader, SVD, SVDpp, NMF
from surprise.model_selection import train_test_split
from surprise import accuracy

In [17]:
booksdata = books[['user_id', 'book_id', 'rating']]

In [18]:
booksdata.shape

(499998, 3)

In [19]:
reader = Reader(rating_scale=(0, 5))
books_data = Dataset.load_from_df(booksdata, reader)

In [20]:
trainset, testset = train_test_split(books_data, test_size=0.2)

In [21]:
svd = SVD()
svd.fit(trainset)

In [22]:
svd_predictions = svd.test(testset)
accuracy.rmse(svd_predictions)

RMSE: 1.0899

1.0898534574558827

In [23]:
svd_predictions = svd.test(testset)
accuracy.mae(svd_predictions)

MAE:  0.8420

0.8419911753126047

In [24]:
svdpp = SVDpp()
svdpp.fit(trainset)

In [26]:
svdpp_predictions = svdpp.test(testset)
accuracy.rmse(svdpp_predictions)

RMSE: 1.0864

1.086355649806291

In [27]:
svdpp_predictions = svdpp.test(testset)
accuracy.mae(svdpp_predictions)

MAE:  0.8386

0.8385581464615456

In [28]:
nmf = NMF()
nmf.fit(trainset)

In [29]:
nmf_predictions = nmf.test(testset)
accuracy.rmse(nmf_predictions)

RMSE: 1.2701

1.2701256744030642

In [30]:
nmf_predictions = nmf.test(testset)
accuracy.mae(nmf_predictions)

MAE:  0.9923

0.9922541616472739